<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peanutmain.curry.dao.IUserDao">

    <insert id="insert" parameterType="User">
        insert into `user`(`username`,`phone`,`email`,`password`,`gmt_created`,`gmt_modified`)
          values(#{username},#{phone},#{email},#{password},#{gmtCreated},#{gmtModified})
    </insert>

    <select id="findByUsername" resultType="User">
        select * from `user` where `username`=#{username}
    </select>
</mapper>
